{% load static%}
<!DOCTYPE html>
<html>

<head>
<title>就是書要你 搜尋結果</title>
<link rel='stylesheet' type='text/css' href='{% static "/css/Berkeley_output.css"%}'>
<link rel="shortcut icon" type="image/jpg" href="{% static '/images/favicons.jpg' %}">

</head>

<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
// 添加或取消收藏
function add_fav_book_1(bookname, bookurl, bookinfo, id){
    if (document.getElementById(id).innerHTML == "加入收藏"){
        alert("確認加入收藏？");
    }
    else
        alert("確認取消收藏？");
    
    const csrftoken = getCookie('csrftoken');
    $.ajax({
        type: "POST",
        url:"{% url 'add_fav_ajax' %}",
        data:{"bookname": bookname, "bookurl": bookurl, "bookinfo": bookinfo, "flag": "tp"},
        async: true,
        dataType: "json",
        headers: {
           'X-CSRFToken': csrftoken
        },
        success: function(data){
            if (data['success'] == -1)
                alert("尚未登入")
            else if(data['success'] == -2){
                alert("成功刪除收藏");
                $('#' + id).show().html('加入收藏');
            }
            else if (data['success']){
                alert("成功加入收藏清單");
                $('#' + id).show().html('取消收藏');
            }
            else
                alert("嘗試後失敗")
        },
        error : function() {
            alert('直接失敗');
        },

    })
}

</script>
<script type="text/javascript">
// 添加或取消收藏
function add_fav_book_2(bookname, bookurl, bookinfo, id){
    if (document.getElementById(id).innerHTML == "加入收藏"){
        alert("確認加入收藏？");
    }
    else
        alert("確認取消收藏？");
    
    const csrftoken = getCookie('csrftoken');
    $.ajax({
        type: "POST",
        url:"{% url 'add_fav_ajax' %}",
        data:{"bookname": bookname, "bookurl": bookurl, "bookinfo": bookinfo, "flag": "ntp"},
        async: true,
        dataType: "json",
        headers: {
           'X-CSRFToken': csrftoken
        },
        success: function(data){
            if (data['success'] == -1)
                alert("尚未登入")
            else if(data['success'] == -2){
                alert("成功刪除收藏");
                $('#' + id).show().html('加入收藏');
            }
            else if (data['success']){
                alert("成功加入收藏清單");
                $('#' + id).show().html('取消收藏');
            }
            else
                alert("嘗試後失敗")
        },
        error : function() {
            alert('直接失敗');
        },

    })
}

</script>
<div class="container0">
    <h1 id='preloader' class='hide'>
        搜尋中，請稍後<img src="{% static '/images/loading2.gif'%}" width="50" height="50" style='float: right;'>
    </h1>   
</div>

<div id="main">
<div class="section1">
<button onclick="menu()" id="btn1" class="btn"> 博客來</button>
<button onclick="menu2()" id="btn2" class='btn'> 北市圖書館</button>
<button onclick="menu3()" id="btn3" class='btn'> 新北圖書館</button>
</div>


<div id='berkelyBS'>
<div class="ber">
{% for k,v in berkely_bs.items %}
<h3>第{{forloop.counter}}本書
<!-- <button id="add_fav_book_button" class="btn-round btn-light">加入收藏</button> -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
// 添加或取消收藏
function add_fav_book(bookname, bookurl, bookprice, bookinfo, fav, id){
    if (document.getElementById(id).innerHTML == "加入收藏"){
        alert("確認加入收藏？");
    }
    else
        alert("確認取消收藏？");
    
    const csrftoken = getCookie('csrftoken');
    $.ajax({
        type: "POST",
        url:"{% url 'add_fav_ajax' %}",
        data:{"bookname": bookname, "bookurl": bookurl,"bookprice": bookprice, "bookinfo": bookinfo, "flag": "bkl"},
        async: true,
        dataType: "json",
        headers: {
           'X-CSRFToken': csrftoken
        },

        success: function(data){
            if (data['success'] == -1)
                alert("尚未登入")
            else if(data['success'] == -2){
                alert("成功刪除收藏");
                $('#' + id).show().html('加入收藏');
            }
            else if (data['success']){
                alert("成功加入收藏清單");
                $('#' + id).show().html('取消收藏');
            }
            else
                alert("嘗試後失敗")
        },
        error : function() {
            alert('直接失敗');
        },

    })
}
// $('#add_fav_book_button').on('click', function(){
//     // add_fav_book({{v.name}}, {{k}}, {{v.price}}, {{v.data}});
//     alert("check");
// });
</script>

<button onclick='add_fav_book("{{v.name}}", "{{k}}", "{{v.price}}", "{{v.data}}", "{{v.fav}}", "{{forloop.counter}}")' id={{forloop.counter}} class="btn-round btn-light">{{v.fav}}</button>


</h3>
<ul>
    <li>書名 : <a href={{k}} target="_blank">{{v.name}}</a></li>
    <li>價格 : {{v.price}}</li>
    <li>基本資訊 : {{v.data}}</li>
</ul>

{% empty %}
<span>{{msg}}</span>
{%endfor%}
</div>
</div>


<div id='TC_lib' class='hide'>
{% if len_detail > 0 %}   
<div class="show">
    <br/>

<button onclick='add_fav_book_1("{{TC_BookName}}", "https://www.books.com.tw/", "{{marc}}", "199")' id='199' class="btn-round btn-light">{{tp1_fav}}</button>


    <div class="marc">
    <h3 style="font-weight:bold;">書名 : {{TC_BookName}}</h3>
    {% for marc1, marc2 in marc  %}
    <ul class="tc_marc">
        <li>{{marc1}}{{marc2}}</li>
    </ul>
    {% empty %}
    {% endfor %}
    </div>
    <div class="location">
    <table>
    <thead>
    <tr>
    <th>典藏館</th>
    <th>索書號</th>
    <th>編號</th>
    <th>館藏類型</th>
    <th>館藏位置(到期日期僅為期限，不代表上架日期)</th>
    <th>註記</th>
    </tr>
    </thead>

    <tbody>
    {% for row in positAll %}    
    <tr>
        <td>{{row.0}}</td><td>{{row.1}}</td><td>{{row.2}}</td><td>{{row.3}}</td><td>{{row.4}}</td><td>{{row.5}}</td>
    </tr>
    {% empty %}
    {% endfor %}
    </tbody>
    </table>
    </div>
</div>
{% elif len_detail == 0 %}
    {% if totalnum > 0 %}
        {% for whole in last %}
            <div class="show">
                    <br/>
                

                    <button onclick='add_fav_book_1("{{whole.1}}", "{{whole.0}}", "{{whole.2}}", "{{whole.4}}")' id='{{whole.4}}' class="btn-round btn-light">{{whole.5}}</button>



                    <div class="marc">
                    <h3 style="font-weight:bold;">書名 : <a href={{whole.0}} target="_blank">{{whole.1}}</a></h3>
                    {% for marc1, marc2 in whole.2  %}
                    <ul class="tc_marc">
                        <li>{{marc1}}{{marc2}}</li>
                    </ul>
                    {% empty %}
                    {% endfor %}
                    </div>
                    <div class="location">
                    <table>
                    <thead>
                    <tr>
                    <th>典藏館</th>
                    <th>索書號</th>
                    <th>編號</th>
                    <th>館藏類型</th>
                    <th>館藏位置</th>
                    <th>註記</th>
                    </tr>
                    </thead>
                
                    <tbody>
                    {% for row in whole.3 %}    
                    <tr>
                        <td>{{row.0}}</td><td>{{row.1}}</td><td>{{row.2}}</td><td>{{row.3}}</td><td>{{row.4}}</td><td>{{row.5}}</td>
                    </tr>
                    {% empty %}
                    {% endfor %}
                    </tbody>
                    </table>
                    </div>
            </div>
        {% empty %}
        {% endfor %}
    {% elif totalnum == 0 %}
            <div class="ber">{{msg2}}</div>
    {% endif %}

{% endif %}
</div>

<!-- 新北市 -->
<div id='NT_lib' class='hide'>
{% if no_data_len == 0  %}
    {% for NT_e in NT_last %}
    <div class="show">
        
        <button onclick='add_fav_book_2("{{NT_e.1}}", "{{NT_e.0}}", "{{NT_e.2}}", "{{NT_e.4}}")' id='{{NT_e.4}}' class="btn-round btn-light">{{NT_e.5}}</button>

        <div class="marc">
        <h3 style="font-weight:bold;">書名 : <a href={{NT_e.0}} target="_blank">{{NT_e.1}}</a></h3>
        {% for para1, para2 in NT_e.2 %}
        <ul class="tc_marc">
            <li>{{para1}} : {{para2}}</li>
        </ul>
        {% empty %}
        {% endfor %}
        </div>
        <div class="location">
            <table>
            <thead>
            <tr>
            <th>條碼號</th>
            <th>典藏地名稱</th>
            <th>館藏流通類別</th>
            <th>資料類型</th>
            <th>索書號</th>
            <th>館藏狀態</th>
            <th>預約人數</th>
            <th>備註</th>
            <th>附件</th>
            <th>預約</th>
            </tr>
            </thead>
            <tbody>
            {% for ro in NT_e.3 %}    
            <tr>
                <td>{{ro.0}}</td><td>{{ro.1}}</td><td>{{ro.2}}</td><td>{{ro.3}}</td><td>{{ro.4}}</td><td>{{ro.5}}</td><td>{{ro.6}}</td><td>{{ro.7}}</td><td>{{ro.8}}</td><td>{{ro.9}}</td>
            </tr>
            {% empty %}
            {% endfor %}
            </tbody>
            </table>
            </div>

    </div>
    {% empty %}
    {% endfor %}
{% elif no_data_len > 0 %}
    <div class="ber">{{msg3}}</div>
{% endif %} 
</div>


<script src="{% static '/css/Berkeley_output.js' %}"></script>

</body>
</html>