<!DOCTYPE html>
<html>
<head>
<title>查書平台_表單傳送</title>

<style>
.hide{
    display: none;
}
</style>


</head>
<body>
<form action="" method='POST' id='form1' >
    {% csrf_token %}
    <div>請輸入書籍關鍵字 :</div>
        <input type='text' name='keyword'  style='height: 25px;'/> 

        <input type='submit' value='送出' style='height: 30px;'/>
</form>
<br>
<div>搜尋紀錄 : {{total}}</div>

<h1 id='preloader' class='hide'>搜尋中，請稍後...</h1>

<script>    
    var x = document.getElementById("preloader");
        window.addEventListener("submit",function(){
            x.style.display='block'
    })
</script>


<script>

    function reload(){
        // The last "domLoading" Time //
        var currentDocumentTimestamp =
        new Date(performance.timing.domLoading).getTime();
        // Current Time //
        var now = Date.now();
        // Ten Seconds //
        var tenSec = 10 * 1000;
        // Plus Ten Seconds //
        var plusTenSec = currentDocumentTimestamp + tenSec;
        if (now > plusTenSec) {
        location.reload()
    
        } else {}
    }
    window.addEventListener('pageshow',function(){
        reload();
        document.getElementById("form1").reset();

    })

    
</script>

{% if request.user.is_authenticated %}
    <p>{{request.user}} 您已經登入囉</p>
    <a class="btn btn-lg btn-primary" href="/logout" role="button">登出</a>
{% else %}
    <p>您尚未登入喔～<a href="/login/">登入</a></p>
    <p>還沒有帳號嗎？<a href="/register">註冊</a></p>
{% endif %}
<a href="/collection">收藏清單</a>
</body>
</html>