<!DOCTYPE html>
<html>

<head>
<title>查書平台_搜尋結果</title>


<style>
a{
    text-decoration:none; 
    color:#2874A6;
}
a:hover{
    text-decoration:underline;
}
.hide{
    display: none;
}
.click {
  background-color:SteelBlue;
  color: white;
  font-size: 20px;
}

.btn{
    width: 250px;
    height: 55px;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
}

#preloader{
    background: #000;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
}

</style>



<script>
function menu(){
    var x = document.getElementById("berkelyBS");
    var y = document.getElementById("TC_lib");
    var z = document.getElementById("NT_lib");
    var btn1 = document.getElementById("btn1")
    var btn2 = document.getElementById("btn2")
    var btn3 = document.getElementById("btn3")
    if(x.style.display === 'none'){
        x.style.display = "block";
        y.style.display = 'none';
        z.style.display = 'none'
    }
    else{
        y.style.display = 'none';
        z.style.display = 'none'
    }

    btn1.classList.add('click')
    btn2.classList.remove('click')
    btn3.classList.remove('click')
}

function menu2(){
    var x = document.getElementById("berkelyBS");
    var y = document.getElementById("TC_lib");
    var z = document.getElementById("NT_lib");
    var btn1 = document.getElementById("btn1")
    var btn2 = document.getElementById("btn2")
    var btn3 = document.getElementById("btn3")

    y.classList.toggle("hide");
    if(y.style.display === 'none'){
        y.style.display = "block";
        x.style.display = 'none';
        z.style.display = 'none'
    }
    else{
        x.style.display = 'none';
        z.style.display = 'none'
    }

    btn1.classList.remove('click')
    btn2.classList.add('click')
    btn3.classList.remove('click')

}

function menu3(){
    var x = document.getElementById("berkelyBS");
    var y = document.getElementById("TC_lib");
    var z = document.getElementById("NT_lib"); 
    var btn1 = document.getElementById("btn1")
    var btn2 = document.getElementById("btn2")
    var btn3 = document.getElementById("btn3")

    z.classList.toggle("hide");  
    if(z.style.display === 'none'){
        z.style.display = "block";
        x.style.display = 'none';
        y.style.display = 'none';
    }
    else{
        x.style.display = 'none';
        y.style.display = 'none'
    }

    btn1.classList.remove('click')
    btn2.classList.remove('click')
    btn3.classList.add('click')
}

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>


</head>

<body>

<div>
<button onclick="menu()" id="btn1" class="btn"> 博客來</button>
<button onclick="menu2()" id="btn2" class='btn'> 北市圖書館</button>
<button onclick="menu3()" id="btn3" class='btn'> 新北圖書館</button>
</div>


<div id='berkelyBS'>
{% for k,v in berkely_bs.items %}
<h3>第{{forloop.counter}}本書
<!-- <button id="add_fav_book_button" class="btn-round btn-light">加入收藏</button> -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
// 添加或取消收藏
function add_fav_book(bookname, bookurl, bookprice, bookinfo, fav, id){
    if (document.getElementById(id).innerHTML == "加入收藏"){
        alert("確認加入收藏？");
    }
    else
        alert("確認取消收藏？");
    
    const csrftoken = getCookie('csrftoken');
    $.ajax({
        type: "POST",
        url:"{% url 'add_fav_ajax' %}",
        data:{"bookname": bookname, "bookurl": bookurl,"bookprice": bookprice, "bookinfo": bookinfo},
        async: true,
        dataType: "json",
        headers: {
           'X-CSRFToken': csrftoken
        },
        success: function(data){
            if (data['success'] == -1)
                alert("尚未登入")
            else if(data['success'] == -2){
                alert("成功刪除收藏");
                $('#' + id).show().html('加入收藏');
            }
            else if (data['success']){
                alert("成功加入收藏清單");
                $('#' + id).show().html('取消收藏');
            }
            else
                alert("嘗試後失敗")
        },
        error : function() {
            alert('直接失敗');
        },

    })
}
// $('#add_fav_book_button').on('click', function(){
//     // add_fav_book({{v.name}}, {{k}}, {{v.price}}, {{v.data}});
//     alert("check");
// });
</script>

<button onclick='add_fav_book("{{v.name}}", "{{k}}", "{{v.price}}", "{{v.data}}", "{{v.fav}}", "{{forloop.counter}}")' id={{forloop.counter}} class="btn-round btn-light">{{v.fav}}</button>


</h3>
<ul>
    <li>書名 : <a href={{k}}>{{v.name}}</a></li>
    <li>價格 : {{v.price}}</li>
    <li>基本資訊 : {{v.data}}</li>
</ul>


{% empty %}
<span>{{msg}}</span>
{%endfor%}
</div>

<div id='TC_lib' class='hide'>
台北市圖書館館藏
</div>

<div id='NT_lib' class='hide'>
新北市圖書館館藏
</div>



</body>
</html>