{% load static%}
<!DOCTYPE html>
<html>
<head>
<title>查書平台_表單傳送</title>

<link rel='stylesheet' type='text/css' href='{% static "/css/Berkeley_post.css"%}'>

</head>


<body>


<h1 id='preloader' class='hide'>
    搜尋中，請稍後<img src="{% static '/images/loading.gif'%}" width="40" height="40">
</h1>   

<div id="main">
<form action="" method='POST' id='form1' >
    {% csrf_token %}
    <div style="margin-bottom:9px">請輸入書籍關鍵字 :</div>
        <input type='text' name='keyword'  style='height: 25px; font-size:15px'/> 

        <input type='submit' value='送出' style='height: 25px;'/>
</form>
{% if request.user.is_authenticated %}
    <p>{{request.user}} 您已經登入囉</p>
    <a class="btn btn-lg btn-primary" href="/logout" role="button">登出</a>
{% else %}
    <p>您尚未登入喔～<a href="/login/">登入</a></p>
    <p>還沒有帳號嗎？<a href="/register">註冊</a></p>
{% endif %}
<a href="/collection">收藏清單</a>
<br/>
<ul >
<li name='SR'>搜尋紀錄</li>
{% for cookie in bytes_list%}    
<li >
    <a class='cookie_a' href='/Berkeley_output/{{cookie}}' >{{cookie}}</a>
    <a class="close" href='/delete_cookie/{{cookie}}'>x</a>
</li>
{% empty %}
{%endfor%}
</ul>
</div>

<script>
    var preloader = document.getElementById("preloader");
    var main = document.getElementById("main");

    window.addEventListener("submit",function(){
        preloader.style.display='block';
        main.style.display='none';
    })

    let btns = document.querySelectorAll('.cookie_a');
    for (i of btns) {
    i.addEventListener('click', function() {
        preloader.style.display='block';
        main.style.display='none';
    });
    }

</script>

<script>

    function reload(){
        // The last "domLoading" Time //
        var currentDocumentTimestamp =
        new Date(performance.timing.domLoading).getTime();
        // Current Time //
        var now = Date.now();
        // Ten Seconds //
        var tenSec = 100;
        // Plus Ten Seconds //
        var plusTenSec = currentDocumentTimestamp + tenSec;
        if (now > plusTenSec) {
        location.reload()
    
        } else {}
    }
    window.addEventListener('pageshow',function(){
        reload();
        document.getElementById("form1").reset();

    })

    
</script>


</body>
</html>