<!DOCTYPE html>
<html>

<head>
<title>收藏清單</title>


<style>
a{
    text-decoration:none; 
    color:#2874A6;
}
a:hover{
    text-decoration:underline;
}
.hide{
    display: none;
}
.click {
  background-color:SteelBlue;
  color: white;
  font-size: 20px;
}

.btn{
    width: 250px;
    height: 55px;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
}

#preloader{
    background: #000;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
}

</style>



<script>
function menu(){
    var x = document.getElementById("berkelyBS");
    var y = document.getElementById("TC_lib");
    var z = document.getElementById("NT_lib");
    var btn1 = document.getElementById("btn1")
    var btn2 = document.getElementById("btn2")
    var btn3 = document.getElementById("btn3")
    if(x.style.display === 'none'){
        x.style.display = "block";
        y.style.display = 'none';
        z.style.display = 'none'
    }
    else{
        y.style.display = 'none';
        z.style.display = 'none'
    }

    btn1.classList.add('click')
    btn2.classList.remove('click')
    btn3.classList.remove('click')
}

function menu2(){
    var x = document.getElementById("berkelyBS");
    var y = document.getElementById("TC_lib");
    var z = document.getElementById("NT_lib");
    var btn1 = document.getElementById("btn1")
    var btn2 = document.getElementById("btn2")
    var btn3 = document.getElementById("btn3")

    y.classList.toggle("hide");
    if(y.style.display === 'none'){
        y.style.display = "block";
        x.style.display = 'none';
        z.style.display = 'none'
    }
    else{
        x.style.display = 'none';
        z.style.display = 'none'
    }

    btn1.classList.remove('click')
    btn2.classList.add('click')
    btn3.classList.remove('click')

}

function menu3(){
    var x = document.getElementById("berkelyBS");
    var y = document.getElementById("TC_lib");
    var z = document.getElementById("NT_lib"); 
    var btn1 = document.getElementById("btn1")
    var btn2 = document.getElementById("btn2")
    var btn3 = document.getElementById("btn3")

    z.classList.toggle("hide");  
    if(z.style.display === 'none'){
        z.style.display = "block";
        x.style.display = 'none';
        y.style.display = 'none';
    }
    else{
        x.style.display = 'none';
        y.style.display = 'none'
    }

    btn1.classList.remove('click')
    btn2.classList.remove('click')
    btn3.classList.add('click')
}

</script>


</head>

<body>
{% if request.user.is_authenticated %}
<div>
<button onclick="menu()" id="btn1" class="btn">{{request.user}}博客來收藏清單</button>
<button onclick="menu2()" id="btn2" class='btn'>{{request.user}}北市圖書館收藏清單</button>
<button onclick="menu3()" id="btn3" class='btn'>{{request.user}}新北圖書館收藏清單</button>
</div>
<a class="btn btn-lg btn-primary" href="/logout" role="button">登出</a>
<a href="/">回首頁</a>

<div id='berkelyBS'>
{% for info in exist_records %}
<h3>第{{forloop.counter}}本書

<button onclick='add_fav_book("{{v.name}}", "{{k}}", "{{v.price}}", "{{v.data}}", "{{v.fav}}", "{{forloop.counter}}")' id={{forloop.counter}} class="btn-round btn-light">取消收藏</button>


</h3>
<ul>
    <li>書名 : <a href={{info.book_url}} target="_blank">{{info.book_Name}}</a></li>
    <li>價格 : {{info.book_Price}}</li>
    <li>基本資訊 : {{info.book_Info}}</li>
    <li>加入時間：{{info.created_on}}</li>
</ul>


{% empty %}
<span>{{msg}}</span>
{%endfor%}
</div>

<div id='TC_lib' class='hide'>
<!-- 台北市圖書館收藏清單 -->
</div>

<div id='NT_lib' class='hide'>
<!-- 台北市圖書館收藏清單 -->
</div>

{% else %}
    <p>登入後可將書加入收藏清單～<a href="/login/">登入</a></p>
    <p>還沒有帳號嗎？<a href="/register">註冊</a></p>
{% endif %}

</body>
</html>