{% load static%}
<!DOCTYPE html>
<html>

<head>
    <title>就是書要你 收藏清單</title>
    <link rel="shortcut icon" type="image/jpg" href="{% static '/images/favicons.jpg' %}">
    <link rel='stylesheet' type='text/css' href='{% static "/css/Berkeley_output.css"%}'>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
function del_fav_book(){
    alert("此功能還在努力開發中，以後再回來看看～");
}
</script>


</head>

<body>
{% if request.user.is_authenticated %}
<div class="section1">
<button onclick="menu()" id="btn1" class="btn">{{request.user}}收藏清單 博客來</button>
<button onclick="menu2()" id="btn2" class='btn'>{{request.user}}收藏清單 北市圖書館</button>
<button onclick="menu3()" id="btn3" class='btn'>{{request.user}}收藏清單 新北圖書館</button>
</div>

<div style="text-align: right; margin-right: 40px;"><a href="/logout" style="font-weight:normal; font-size: 20px;" >登出</a></div>
<br/>
<div style="text-align: right; margin-right: 40px;"><a href="/" style="font-weight:normal; font-size: 20px;">回首頁</a></div>


<div id='berkelyBS'>
<div class="ber">
{% for info in exist_records_bkl %}
<h3>第{{forloop.counter}}本書

<button onclick='del_fav_book()'> 取消收藏</button>


</h3>
<ul>
    <li>書名 : <a href={{info.book_url}} target="_blank">{{info.book_Name}}</a></li>
    <li>價格 : {{info.book_Price}}</li>
    <li>基本資訊 : {{info.book_Info}}</li>
    <li>加入時間：{{info.created_on}}</li>
</ul>


{% empty %}
<span>{{msg}}</span>
{%endfor%}
</div>
</div>

<div id='TC_lib' class='hide'>
<div class="ber">
<!-- 台北市圖書館收藏清單 -->
{% for info in exist_records_tp %}
<h3>第{{forloop.counter}}本書

<button onclick='del_fav_book()'> 取消收藏</button>
</h3>
<ul>
    <li>書名 : <a href={{info.book_url}} target="_blank">{{info.book_Name}}</a></li>
    <li>加入時間：{{info.created_on}}</li>
</ul>


{% empty %}
<span>{{msg}}</span>
{%endfor%}
</div>
</div>

<div id='NT_lib' class='hide'>
<div class="ber">
<!-- 新北市圖書館收藏清單 -->
{% for info in exist_records_ntp %}
<h3>第{{forloop.counter}}本書

<button onclick='del_fav_book()'> 取消收藏</button>


</h3>
<ul>
    <li>書名 : <a href={{info.book_url}} target="_blank">{{info.book_Name}}</a></li>
    <li>加入時間：{{info.created_on}}</li>
</ul>


{% empty %}
<span>{{msg}}</span>
{%endfor%}
</div>
</div>

{% else %}
    <link rel='stylesheet' type='text/css' href='{% static "/css/Berkeley_post.css"%}'>
    <p>登入後可將書加入收藏清單<a href="/login/" style="margin-left:10px; font-weight: normal;">登入</a></p>
    <p>尚未有帳號<a href="/register" style="margin-left:10px; font-weight: normal;">註冊</a></p>
{% endif %}

<script src="{% static '/css/Berkeley_output.js' %}"></script>
</body>
</html>